@media screen and (max-width: 1149px)
    .sidebar
        position: fixed
        left: -255px
        width: 255px
        height: 100vh !important
        &__logo_burger
            display: flex
            &::after,
            &::before
                display: flex
        &_nav
            height: 100%
    .header
        &__account_burger
            display: flex
    .header__account_logo
        display: block
    .header__account_notify
        grid-template-columns: repeat(3, 66px)
        gap: 10px !important

@media screen and (max-width: 767px)
    .header, .header__account
        flex-direction: column
        align-items: start
    .header
        margin-bottom: 30px
    .container
        padding-left: 30px
        padding-right: 30px
    .header__crumbs
        order: 2
    .header__account
        margin-bottom: 30px
        grid-auto-flow: column !important
        grid-template-rows: repeat(2, auto)
    .main__panel_store_table-head
        display: none
    .main__panel_store_table-item,
    .main__panel_store_table-item-btn
        display: flex
        flex-wrap: wrap
    .main__panel_store_table-item-head
        display: block
    .main__panel_store_table-item
        margin-bottom: 36px
        &:nth-last-child(1)
            margin: 0
    .main__panel_store_table-item td
        min-width: 50%
        height: 100%
    .main__panel_store_table-item-content
        padding: 18px 0
        grid-auto-flow: column !important
        grid-template-rows: repeat(2, auto)
    .modal-body__design
        grid-auto-flow: column !important
        grid-template-rows: repeat(2, auto)
        gap: 30px
    .modal
        --bs-modal-width: 320px
    .modal-dialog
        margin: 40px 8% 40px 8%
    .modal-body__url_span
        padding: 0 5px
    .modal-body__design-template_select,
    .modal-body__design-color_select
        width: 210px
    .modal-body__attention
        grid-auto-flow: column !important
        grid-template-rows: repeat(2, auto)

@media screen and (max-width: 409px)
    .container
        max-width: 290px
        margin: 0
        padding-right: 0
    .main__panel_store_table-item
        max-width: 200px


._burger-active
    left: 0
    z-index: 5